* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 0;
    grid-template-areas:
        'nav nav nav nav'
        'header header header header'
        'content content content'
        'footer footer footer footer'
    ;
}

.nav {
    grid-area: nav;
    background-color: aqua;
}