:root {
    --primary-color: #fff;
    --secondary-color: #CF0A0A;
    --main-text-font-family: "Teko", sans-serif;
    --main-font-weight: 300;
    --main-font-style: normal;

    --secondary-text-font: "Barlow", sans-serif;
    --secondary-font-weight: 400;
    --secondary-font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 2400px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto; /* Centers the content horizontally */
    max-width: 1920px; /* Or any width you prefer */
    background: url('../img/hero/h1_hero.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

/************** NAVIGATION **************/
.nav-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 3em 0 0 0;
    height: 10vh;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: auto;
    flex: 1;
    height: 10vh;
    align-items: center;
    position: relative;
    font-family: var(--main-text-font);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);


    li {
        list-style: none;
        color: var(--primary-color);
        margin-left: 3rem;
        text-transform: capitalize;
        cursor: pointer;
        transition: 0.2s ease;
    }

    li:hover {
        color: var(--secondary-color);
    }

    button {
        background-color: var(--secondary-color);
        margin-left: 1.5rem;
        height: 100%;
        padding: 0 10px;
        text-transform: uppercase;
        color: var(--primary-color);
        min-width: 200px;
        width: 15vw;
        max-width: 250px;
        font-size: clamp(14px,1.5vw, 16px);
        font-family: var(--main-text-font);
        font-style: var(--main-font-style);
        font-weight: var(--main-font-weight);
    }
}

