:root {
    --main-color: #333333;
    --text-color: #ffffff;
    --main-font-family: 'Belarius Sans', sans-serif;
}


* {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'nav nav nav nav'
        'header header header header'
        'section1 section1 section1 section1'
        'section2 section2 section2 section2'
        'section3 section3 section3 section3'
        'section4 section4 section4 section4'
        'footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
}

.grid-item {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*    Navigation    */
.nav {
    grid-area: nav;
    color: var(--text-color);
    display: flex;
}

.logo-items {
    border-right: none;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 457px;
    height: auto;
    position: relative;
    display: flex;
}

.mainLogo {
    margin: auto 0;
    padding: 0 0 0 10px;
}

.groupLogo {
    margin: auto 0;
    padding: 0 0 0 20px;
}

.nav-container {
    margin: 0;
    padding: 0;
    flex: 1;
    position: relative;
    height: 100%;
    background-color: var(--main-color);
}

.nav-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: skewX(-45deg);
    transform-origin: top left;
    background: linear-gradient(
        to top left,
        var(--main-color) 50%,
        var(--main-color) 50%
    ); 
}

.nav-container > .nav-list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1000;

}


.nav-container > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.nav-container > ul > .nav-item {
    text-transform: uppercase;
    align-items: flex-end;
}

.nav-item {
    margin: auto 0;
    padding: 0;
}

.nav-item > p {
    cursor: pointer;
    color: var(--text-color);
    font-family: 'belarius sans', sans-serif;
    font-size: 13px;
    font-style: Wide Semibold oblique;
}











/*    Header    */

.header {
    grid-area: header;
    background-color: #f44336;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}

.section1 {
    grid-area: section1;
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}

.section2 {
    grid-area: section2;
    background-color: #ff9800;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}

.section3 {
    grid-area: section3;
    background-color: #9c27b0;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}

.section4 {
    grid-area: section4;
    background-color: #00bcd4;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}

.footer {
    grid-area: footer;
    background-color: #607d8b;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}





/*    media queries    */
@media (max-width: 768px) {
    .grid-container {
        grid-template-areas: 
            'nav'
            'header'
            'section1'
            'section2'
            'section3'
            'section4'
            'footer';
    }
}