:root {
    --main-color: #333333;
    --text-color: #ffffff;
    --main-font-family: 'Belarius Sans', sans-serif;
    --main-jp-font-family: 'Noto Sans JP', sans-serif;
}


* {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'nav nav nav nav'
        'header header header header'
        'section1 section1 section1 section1'
        'section2 section2 section2 section2'
        'section3 section3 section3 section3'
        'section4 section4 section4 section4'
        'footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
}

.grid-item {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**********************************    Navigation Main    **********************************/
.nav {
    grid-area: nav;
    color: var(--text-color);
    display: flex;
    /* position: fixed; */
    width: 100%;
    display: none;
}

/* LOGO */

.logo-items {
    border-right: none;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 457px;
    /* height: auto; */
    position: relative;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
}

.mainLogo {
    margin: auto 0;
    padding: 0 0 0 10px;
    text-align: center;
}

.groupLogo {
    margin: auto 0;
    padding: 0 0 0 20px;
    text-align: center;
}

/* Navigation menu */

.nav-container {
    margin: 0;
    padding: 0;
    flex: 1;
    position: relative;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.nav-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: skewX(-15deg);
    transform-origin: top left;
    background: linear-gradient(
        to top left,
        var(--main-color) 50%,
        var(--main-color) 50%
    ); 
}

.nav-container > .nav-list {
    margin: auto 0;
    padding: 0;
    width: 858px;
    display: flex;
    position: relative;
    z-index: 1;
    list-style: none;
}

.nav-item a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.nav-item a:hover {
    color: #FF4944;
}

.nav-item > a > .en-text {
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'belarius sans', sans-serif;
    font-style: Wide Semibold oblique;
    text-align: center;
}

.nav-item > a > .jp-text {
    font-size: 9px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

/* Hamburger Menu Styling */
.bugermenu-container {
    display: none;
}

/* TOP portrait */
.portrait {
    width: 100svw;
    background-color: var(--main-color);
    padding: 10px 0 0 5px;
}

/* styling the menu button */
.menu-btn {
    position: absolute;
    right: 1rem;
    top: 2rem;
    z-index: 3;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

/* styling the hamburger lines */
.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: var(--main-color);
    transition: all 0.5s ease-out;
}

.menu-nav {
    width: 100%;
    margin-top: 1.5rem;
}

.bgnav-item {
    color: var(--text-color);
    list-style: none;
    padding: 0 0 10px 5px;
    width: 100%;
    margin: 5px 0 15px 0;
    font-style: var(--main-jp-font-family);
    font-size: 1rem;
    border-bottom: 1px solid var(--text-color);
}

.bgnav-item a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: var(--main-jp-font-family);
    font-style: wide semibold oblique;
}

/* Styling the three lines to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--text-color);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--text-color);
}

/* Styling the position of the menu icon */
.menu  {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    padding: 10px 10px;
    border-radius: 5px;
    z-index: 2;
    color: var(--text-color);
    opacity: 0;
    visibility: hidden;
    transform: (-100%);
    transition: opacity 0.5s ease-out 0s, 
                transform 0.5s ease-out 0s, 
                visibility 0s 2s;
}

.menu.show {
    width: 100%;
    padding: 15px 6rem;
    opacity: 1;
    visibility: visible;
    animation: slideInFromTop 0.5s ease-out forwards;
    transform: translateY(0);
    transition: none;
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.line-sns {
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-sns a:nth-child(1) {
    flex: 1;
}
.line-sns img, .sns-icons img {
    transform: translate(1s ease-out);
}

.line-sns img:hover, .sns-icons img:hover {
    transform: translateY(-10px);
}

.sns-icons a:nth-child(2) {
    margin-left: 50px;
}

/*    media queries    */
@media (max-width: 768px) {
    .bugermenu-container {
        display: block;
    }
}


/********************************** End of navigation menu  **********************************/



/********************************** HEADER START  **********************************/

header {
    grid-area: header;
    background-color: #f44336;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    width: 100%;
    height: 100svh;
    display: none;
}




/********************************** HEADER END  **********************************/






.section1 {
    grid-area: section1;
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}

.section2 {
    grid-area: section2;
    background-color: #ff9800;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}

.section3 {
    grid-area: section3;
    background-color: #9c27b0;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}

.section4 {
    grid-area: section4;
    background-color: #00bcd4;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}

.footer {
    grid-area: footer;
    background-color: #607d8b;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: none;
}





/*    media queries    */
@media (max-width: 768px) {
    .grid-container {
        grid-template-areas: 
            'nav'
            'header'
            'section1'
            'section2'
            'section3'
            'section4'
            'footer';
    }


}