* {
    padding: 0;
    margin: 0 auto;
    max-width: 1366px;
}

body {
    width: 100%;
    height: 100vh;
    margin: auto 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
    grid-template-areas: 
        'navbar header header header header'
        'navbar content content content content'
        'navbar content content content content'
        'navbar content content content content'
        'navbar footer footer footer footer'
    ;
    /* width: 100%; */
}

.grid-item {
    width: 100%;
}

.header {
    grid-area: header;
    background-color: red;
    height: 100%;
}

                    /* NAVIGATION BAR */

.navbar {
    border: 1px solid red;
    grid-area: navbar;
    height: 100vh;
    width: 100%;
}

#nav-container {
    display: flex;
}

.content {
    grid-area: content;
    background-color: grey;
    height: 100%;
}

.footer {
    grid-area: footer;
    background-color: chocolate;
    height: 100%;
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'sidebar'
            'header'
            'content'
            'footer'
        ;
    }
}